<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>HDFC BANK</title>
</head>
<h1>HDFC BANK BRANCH DETAILS</h1>
<body>
<table border = "1">
	<tr><th>Branches in the City of Banglore</th></tr>
	<tr><td>BANGALORE - KASTURBA GANDHI MARG</td></tr>
	<tr><td>BANGALORE - MALLESWARAM</td></tr>
	<tr><td>BANGALORE - KORAMANGALA</td></tr>
	<tr><td>BANGALORE - AIRPORT ROAD</td></tr>
	<tr><td>BANGALORE - M G ROAD</td></tr>
	<tr><td>BANGALORE - IT PARK</td></tr>
	<tr><td>BANGALORE - J P NAGAR</td></tr>
	<tr><td>BANGALORE - R T NAGAR</td></tr>
	<tr><td>BANGALORE - BANASHANKARI</td></tr>
	<tr><td>BANGALORE - INDIRA NAGAR</td></tr>
</table>
</body>
</html>