<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>HDFC BANK</title>
</head>
<h1>HDFC BANK SERVICES</h1>
<body>
<table border = "1">
	<tr><th>Services in HDFC Bank</th></tr>
	<tr><td>Travellers Cheques</td></tr>
	<tr><td>Credit Card</td></tr>
	<tr><td>Home Loan</td></tr>
	<tr><td>Personal Loan</td></tr>
	<tr><td>Foreign Currency Cash</td></tr>
	<tr><td>Foreign Currency Demand Drafts</td></tr>
	<tr><td>Cheque Deposits</td></tr>
	<tr><td>Remittances</td></tr>
	<tr><td>Trade Services</td></tr>
	<tr><td>Insurance</td></tr>
	<tr><td>Mutual Funds</td></tr>
</table>
</body>
</html>